@font-face {
    font-family: "ArcadeClassic";
    src: url("ARCADECLASSIC.TTF");
    }


body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url(./photo/football-field-or-soccer-field-background-green-grass-court-for-create-soccer-game-vector.jpg)no-repeat ;
    background-size: 100%;
    overflow: hidden;
    font-family: "ArcadeClassic", monospace;
}

audio{
    display: none;
}

.player1{
    font-size: 50px;
    top: 10%;
    color: white;
    position: absolute;
    left: 18%;
}

.player2{
    font-size: 50px;
    top: 10%;
    color: white;
    position: absolute;
    left: 58%;
}

#ping{
    height: 150px;
    width: 20px;
    position: absolute;
    top: 400px;
    left: 5%;
   
}

#pong{
    height: 150px;
    width: 20px;
    position: absolute;
    top: 400px;
    left: 95%;
  
}

#ping img{
    height: 150px;
    width: 100px;
}

#pong img {
    height: 150px;
    width: 100px;
}

i{
    height: 10px;
    width: 10px;
    position: absolute;
    border-radius: 5px;
}

i img {
    height: 50px;
    width: 50px;
    position: absolute;
    border-radius: 5px;
}

.golImg1{
    height: 450px;
    position: absolute;
    top: 30%;
    left: 60%;
}

.golImg1{
    display: none;
}

.golImg2{
    height: 450px;
    position: absolute;
    top: 30%;
    left: 20%;
}

.golImg2{
    display: none;
}